/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.block-header {
    min-height: 80px;
    background-color: #ADD8E6;
    padding: 20px;
}


/* Header */
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color: #DAA520
}

.left-nav {
    flex-basis: 20%;
    min-height: 40px;
    border: 2px dashed black;
}
  
.mid-nav {
    flex-basis: 60%;
    min-height: 40px;
    border: 2px dashed black;
}
  
.right-nav {
    flex-basis: 20%;
    min-height: 40px;
    border: 2px dashed black;
}

.head-container {    
    background-color: #00008B;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-fucsia {
    flex-basis: 900px;
    min-height: 400px;
    background-color: #EE82EE;
    border: 2px dashed black;
    display: flex;
    align-self: center;
}


/* Main */
.white-main {
    background-color: #FFFFFF;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grey-main {
    background-color: #D3D3D3;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.triple-block {
    width: 1200px;
    display: flex;
}

.blue-box {
    flex-basis: 60%;
    min-height: 500px;
    background-color: #1E90FF;
    border: 2px dashed black;
    display: flex;
}
    
.lightpink-box {
    flex-basis: 40%;
    min-height: 500px;
    background-color: #FFC0CB;
    border: 2px dashed black;
    display: flex;
}
  

.grey-main-2 {
    background-color: #D3D3D3;
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.green-block {
    flex-basis: 1200px;
    min-height: 900px;
    background-color: #EE82EE;
    border: 2px dashed black;
    display: flex;
    align-self: center;
}


/* Footer */
.five-block{
    width: 1200px;
    display: flex;
    padding-bottom: 40px;
}

.black-block-1 {
    background-color: #23272A;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pink-block {
    flex-basis: 40%;
    min-height: 500px;
    background-color: #F08080;
    border: 2px dashed black;
    display: flex;
}

.lightgreen-block {
    flex-basis: 15%;
    min-height: 500px;
    background-color: #20B2AA;
    border: 2px dashed white;
    display: flex;
}


.grey-line {
    border: 1px solid #D3D3D3;
}

.black-block-2 {
    background-color: #23272A;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aside-block{
    min-height: 70px;
    background-color: #7FFFD4;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-block {
    background-color: #FFB6C1;
    min-height: 30px;
    width: 60px;
    display: flex;
}

.button-block {
    background-color: #FFB6C1;
    min-height: 30px;
    width: 60px;
    display: flex;
}